.main-window {
  position: relative;
  display: flex;
  gap: 100px;
}

.float-div {
  position: absolute;
  margin-top: 150px;
  padding-top: 80px;
  padding-left: 80px;
}

.side-bar {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (width < 1350px) {
  .float-div {
    margin-top: 10px;
    padding-top: 0px;
    padding-left: 10px;
  }

  .side-bar {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container {
    margin-top: 200px;
  }
}

.side-button {
  border: none;
  text-transform: capitalize;
  line-height: 20px;
  padding: 10px;
  border-radius: 5%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.side-button:hover {
  background-color: #553f9a;
  color: white;
}

.container {
  width: 640px;
  margin: auto;
  margin-top: 150px;
  background: white;
  color: #262626;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 40px 50px;
}

.container hr {
  height: 2px;
  border: none;
  background: #707070;
}

.container h2 {
  font-size: 27px;
  font-weight: 500;
}

.container ul li {
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 15px;
  border: 1px solid #686868;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
}

.container button {
  margin: auto;
  width: 250px;
  height: 65px;
  background: #553f9a;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
}

.container .index {
  margin: auto;
  font-size: 18px;
}

.container .correct {
  background: #dffff2;
  border-color: #00d397;
}

.container .wrong {
  background: #ffebeb;
  border-color: #ff4a4a;
}

.question {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (width < 1350px) {
  .container {
    margin-top: 250px;
  }
}
